[Unit]
Description=ninetan-forward-ssh
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/ssh -R 60000:localhost:22 -N mewtwo.sx9.jp
User=ninetan
Group=ninetan
Restart=always

[Install]
WantedBy=multi-user.target
